html,
body {
    margin: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100vh;
}

/* Fő csoportok */

.leaflet-layerstree-header-name {
    font-weight: 600;
}

/* Behúzás minden szinten */

.leaflet-layerstree-children {
    margin-left: 18px;
}

/* Vonal a csoportok között */

.leaflet-layerstree-node {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Főbb csoportok elkülönítése */

.leaflet-control-layers-overlays > .leaflet-layerstree-children > .leaflet-layerstree-node {
    border-top: 1px solid #d0d0d0;
    padding-top: 6px;
    margin-top: 6px;
}

/* A túramozgalmak (BFK, OKT, stb.) legyenek félkövérek */

.leaflet-layerstree-node .leaflet-layerstree-node .leaflet-layerstree-header-name {
    font-weight: 700;
}