html,
body {
    margin: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100vh;
}

.leaflet-control-layers {
    max-height: 80vh;
    overflow-y: auto;
}

.leaflet-control-layers-tree-group {
    border-top: 1px solid #ccc;
    margin-top: 6px;
    padding-top: 6px;
}

.leaflet-control-layers-tree-label {
    font-size: 13px;
}

.leaflet-control-layers-tree-children {
    margin-left: 15px;
}